.zone {
    color:#FFF;
    font-size:1em;
    transition: all 0.3s linear;
}

body {
    margin:0;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: transparent;
    transition: background-color .4s ease;
}

.main-nav {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    gap: 20px;
    flex-wrap:nowrap;
    box-shadow: inset 0px 40px 20px -20px rgba(0,0,0,0.7);
}


a {
    color: #f5f5f6;
    text-decoration: none;
    margin: 0;
}

.main-nav > li:last-child {
    margin-left: auto;
}

.header.scrolled {
    background: rgba(0, 0, 0);
}

li {
    font-family: sans-serif;
    transition: transform 0.4s ease;
}

li:hover {
    transform:scale(1.1);
}

.search-button {
    margin-left: auto;    
    display: flex;
    align-items: center;
}

.test {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search {
    display: flex;
    font-size:1.2em;
    cursor: pointer;
    margin-right: 10px;
}

.site-search {
    width: 0px;        
    opacity: 0;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1em;
    background: rgba(0, 0, 0, 0.9);
    color: rgb(83, 83, 83);
    border-radius: 4px;
    transition: width 0.4s ease, opacity 0.3s ease;
    padding:10px 20px
}

.site-search.active {
    width: 200px;  
    opacity: 1;
    margin-left: 10px;
    color: white;
    margin: 5px;
}

.cover {
    display: flex;
    justify-content: flex-start;   
    align-items: center;        
    height: 80vh;
    position: relative;
    background: url("dark2.jpg") center center / cover no-repeat;
    padding: 5vh 30px;        
}

.cover-content {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    max-width: 60vw;
    color: white;
}


.cover-content .series img {
    width: 8vw;
    min-width: 80px;
}

.cover-content .title {
    font-size: clamp(2rem, 6vw, 4em);
    letter-spacing: 0.5em;
    font-weight: bold;
    font-family: PetitaLIght;
    font-style: bold;
}

.cover-content .caption {
    font-size: 1rem;
    line-height: 1.5;
    max-width: 60ch;
}

.cover-content .buttons {
    display: flex;
    gap: 10px;
    margin-top: 2vh;
}

.play {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.08em;
}

.info {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.20em;
    color: white;
    background-color: rgba(90, 90, 90, 0.6);
}

.info:hover {
    background-color: rgba(90, 90, 90, 0.3);
}

.play:hover {
    background-color: rgb(167, 167, 167);
}


.grid-wrapper {
    display: flex;
    flex-direction: row;       
    overflow-x: auto;
    gap: 10px; 
    padding: 20px;
    scroll-behavior: smooth;
    background-color: #1a1a1a;
    height:100%;
}

#row1{
     box-shadow: 0px -100px 70px 60px  #1a1a1a;
}

.full-grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #1a1a1a;
}

.labels{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:absolute;
    top:0;
    transform: translateY(-50%);
    z-index: 10;
    color: white;
    padding-left: 20px;
}

.box {
    flex: 0 0 auto; 
    width: 200px;
    height: 300px;
    background-color: rgba(68, 68, 68, 0.9);
    cursor: pointer;
    transition: transform 0.3s ease;
    border-radius: 5px;
}

.box > img {
    width:100%;
    border-radius: 5px; width: 100%;
    height: 100%;         
    object-fit: cover;  
    border-radius: 5px;
}

.arrow{
    display:none;
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background: rgba(0,0,0,0.5);
    border: none;
    color: white;
    font-size: 2em;
    cursor: pointer;
    padding: 10px;
    border-radius: 20%;
    transition: background 0.3s;
}

.row-container:hover .arrow{
    display: flex;
}

.arrow:hover {
    background: rgba(0,0,0,0.8);
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

.row-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}
.grid-wrapper::-webkit-scrollbar {
    display: none;
}

.box:hover {
    transform:scale(1.05);
}

.netflix {
    max-width:150px;
    min-width:100px;
}


.footer {
    display:flex;
    background: white;
    color: black;
    align-items: center;
    justify-content: center;
}


